@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-4xl;
}

#loading {
    @apply h-screen w-screen absolute left-0 top-0 bg-zinc-400 bg-opacity-60;
    z-index: 999;
}
#loading img {
    @apply absolute left-1/2
        top-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

#modal {
    @apply h-screen w-screen absolute left-0 top-0 bg-zinc-500 bg-opacity-80;
    z-index: 999;
}

#modal .modal-wrapper {
    @apply absolute left-1/2
        top-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-slate-100 px-4 py-4;
}

.loading-enter-active,
.loading-leave-active {
    transition: opacity 0.5s ease;
}

.loading-enter-from,
.loading-leave-to {
    opacity: 0;
}

.message-enter-active,
.message-leave-active {
    transition: opacity 0.5s ease;
}

.message-enter-from,
.message-leave-to {
    opacity: 0;
}

.modal-enter-active,
.modal-leave-active {
    transition: opacity 0.5s ease;
}

.modal-enter-from,
.modal-leave-to {
    opacity: 0;
}

.timer-btn-container {
    @apply flex items-center justify-center;
}

.btn {
    @apply font-bold px-4 py-2 rounded;
}

.btn-close {
    @apply px-2 py-1 bg-gray-600 text-white;
}

.btn-close:hover {
    @apply bg-gray-500;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-400;
}

.btn-red {
    @apply bg-red-500 text-white;
}

.btn-red:hover {
    @apply bg-red-400;
}

.btn-green {
    @apply bg-green-500 text-white;
}

.btn-green:hover {
    @apply bg-green-400;
}

.btn-yellow {
    @apply bg-yellow-500 text-white;
}

.btn-yellow:hover {
    @apply bg-yellow-400;
}

.timer-table th,
.timer-table td {
    @apply px-2 py-1;
}
